Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  clang-diagnostic-*,
  llvm-*,
  -llvm-namespace-comment,
  misc-*,
  -misc-misplaced-const,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  readability-identifier-naming
